- provide(:title, "Sign in")
.signin-wrapper
  .signin
    %h1 Sign in
    = form_for(:session, url: sessions_path) do |f|
      = f.label :email
      = f.text_field :email
      = f.label :password 
      = f.password_field :password
      = f.submit "Sign in", class: "btn-signup"
      %p New user?
      = link_to "Sign up now!", signup_path
        
