<header class="navbar">
	<div class="navbar-inner">
		<div class="header-container">
			<section class="logo-wrapper">
				<%= link_to "Photo", root_path, id: "logo" %>
				<i class="menu-icon fa fa-bars fa-lg"></i>
			</section>
			
			<nav class="menu-container">
				<ul class="nav">
					<li><%= link_to "Home", root_path %></li>
					<!-- <li><%= link_to "Contact", contact_path %></li> -->

					<% if signed_in? %>
						<li><i class="fa fa-users"></i><%= link_to "Users", "#"%></li>
						<li>
							<a href="#">Account</a>
							<ul class="dropdown-menu">
								<!-- converts current_user into user_path(current_user) -->
								<li><i class="fa fa-user"></i><%= link_to "Profile", current_user %></li>
								<li><i class="fa fa-gear"></i><%= link_to "Settings", "#" %></li>
								<li><i class="fa fa-lock"></i><%= link_to "Sign out", signout_path, method: "delete" %></li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to "Sign in", signin_path %></li>
					<% end %>

					<li><%= link_to "Help", help_path %></li>
					<li><%= link_to "About Us", about_path %></li>

				</ul>
			</nav>
		</div>
	</div>
</header>